panel{
	width: 100%;
}

.jumbotron{
	background-color: lightcoral;
	/* Find light color of success panel */
	color:brown;
	padding-top: 1%;
	padding-bottom: 2%;
}

.panel-heading{
	padding-top: 0.25%;
}
h3{
    color:brown;
}

.panel-success>.panel-heading{
    background-color: lightcoral;
}